# Node modules
node_modules/

# Archivos de entorno
.env

# Archivos de logs
logs/

# Subidas
uploads/

# Archivos específicos del editor
.DS_Store
*.log

# PM2 y otras configuraciones locales
ecosystem.config.js
